<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.youtube.com/watch?app=desktop&v=eBGIQ7ZuuiU&amp&gl=FR&hl=fr">
      <img src=<%= asset_path("popcorn_logo.png")%> />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active text-center">
            <a class="nav-link"><p><%= link_to 'My lists', lists_path%></p></a>
          </li>
          <li class="nav-link"> </li>
          <li class="nav-item">
            <a class="nav-link"><p><%= link_to 'New list', new_list_path%></p></a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
